*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-component:hover{
color: rgb(88, 25, 25) !important;
}
.sidebar:hover{
background-color: #e0e2e6;
}
.sidebar{
  width:100%;
  padding: 6px;
}
.sidebar-link{
  color: black !important;
  text-decoration: none;
}
.item-border{
  border:1px solid rgb(1, 1, 1);
}
.selected-item-border{
  border:2px solid black;
}
.student-table{
  font-size: 15px;
}
.notice-board{
  box-sizing: border-box;
}
.result-paragraph{
  color:rgb(34, 34, 127);
}
.result-paragraph i{
  color:black;
}
.result-table-head th{
  font-size: 13px;
  color:rgb(34, 34, 127) !important;
}
.gpa{
  color:rgb(34, 34, 127) !important;
}
.result{
  font-size: 12px;
}
/* .side{
  position:sticky;
  top:3rem;
}
header{
  position: sticky;
  top:0
} */
 .login-form{
  width:40%;
 }
 
.rowsidebar {
  display: flex;
  height: 100vh;
}
.sidebar-container {
  height: 100%;
  overflow-y: auto;
  background-color: #f8f9fa;
}

.content-container {
  height: 100%;
  overflow-y: auto;
}

.header-container, .route-container {
  height: 100%;
  overflow-y: auto;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
}
.offcanvas-1{
  width:300px !important;
}
.users-offcanvas div{
  margin-top: 4px;
  margin-bottom: 3px;
}
.users-offcanvas div:hover{
  background-color: rgb(201, 198, 198);
}